<html>
    <head>
        <!-- Bootstrap -->
        <%include ./partials/bootstrap.ejs%>

        <link href="https://fonts.googleapis.com/css?family=Kite+One|Raleway|Dosis|Rajdhani" rel="stylesheet">
        <link href="css/stylish.css" rel="stylesheet">
    </head>

    <body>
        <div class="middle">
            <h1>Under Construction</h1>
            <img src="images/index.jpg" style="margin: auto" alt="Under Construction">
        </div>
    </body>
</html>